mdapi
.sfdx
*.iml
.idea
IlluminatedCloud
graphviz/main/default/profiles/Admin.profile-meta.xml

# Force.com Migration Tool
build.properties

# Metadata API Package
mdapipkg/

# node
/js/pure/node_modules
/js/pure/generated
/js/pure/package-lock.json
/js/diagram-viewer/dist/dev-viewer-app.js
/js/diagram-viewer/node_modules
