.THIS .downloadTextArea textarea {
    min-height: 200px;
}

.THIS .toolbar button {
    margin-top: 10px;
}

.THIS .toolbar button.transient {
    background-color: white;
}

.THIS .sections > * {
    border: solid 1px lightgrey;
}