.THIS .flexList{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}

.THIS .lineItem{
    padding: 4px;
}

.THIS .lineItem:nth-of-type(even){
    background: #ffffff;
}

.THIS .lineItem:nth-of-type(odd){
    background: #eeeeee;
}