.THIS .drag-enter {
    border: 2px dashed #aaaaaa;
}

.THIS .drag-enter * {
    pointer-events: none;
}

.THIS .carouselContainer{
    width:100%;
    overflow:hidden;
    position:relative;
}

.THIS .groups{
    float:left;
}

.THIS .attributes{
    float:left;
}

.THIS .dropTarget{
    min-height: 300px;
}