@charset "UTF-8";

body {
    font-family: "Open Sans";
}

.header {
    padding: 2rem 2rem 0 2rem;
}

.marketing-site-features .row {
    background-color: #E6E8EB;
    padding: 2rem 0 0rem 0;
}

.marketing-site-features {
    text-align: center;
    padding: 1rem 0;
}

.marketing-site-features .fa {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1779ba;
}

.marketing-site-features .marketing-site-features-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
    .marketing-site-features {
        text-align: left;
    }
}

.header h3 {
    text-align: center;
    font-family: "Archivo Black";
    margin-bottom: 1rem;
}

.marketing-site-features-subheadline {
    margin-bottom: 2rem;
    text-align: center;
}

.feature {
    background-color: white;
    padding: 1rem 0 0 1rem;
    min-height: 200px;
}

.install.row {
    padding-bottom: 2rem;
}

.install a {
    width: 300px;
}

.row.content {
    padding-top: 3rem;
    background-color: #CCCCCC;
}

.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
    background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 0.25;
}


